/* ::::: http://www.jdd365.cn/styles/main.css ::::: */

body { font-size: 12px; margin: 0px; padding: 0px; font-family: "Microsoft YaHei"; }
body, html { height: 100%; width: 100%; }
ul, li, p, span, h1, h2, h3, h4, dd, dl { margin: 0px; padding: 0px; }
li { list-style-type: none; }
input, button, select, textarea { color: rgb(51, 51, 51); outline: medium none; padding-left: 5px; }
input:hover, select:hover, textarea:hover, .input_keynote { border-color: rgb(102, 175, 233) ! important; outline: 0px none; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6); }
.clrfix::after { clear: both; content: "."; display: block; height: 0px; visibility: hidden; }
.clearfix::after { clear: both; content: " "; display: block; font-size: 0px; height: 0px; visibility: hidden; }
.bus_add { font-size: 12px ! important; color: rgb(185, 115, 1) ! important; cursor: pointer; height: 30px ! important; line-height: 30px ! important; margin-right: 10px; font-weight: bold; background: transparent url('/hotel/img/roomrack/button.jpg') no-repeat scroll 0px -43px ! important; width: 82px ! important; text-align: center; border: 0px none ! important; padding: 0px ! important; }
.bus_add:hover { outline: 0px none; box-shadow: none; background: transparent url('/hotel/img/roomrack/button_hover.jpg') no-repeat scroll 0px -43px ! important; }
.bus_add:active { background: transparent url('/hotel/img/roomrack/button.jpg') no-repeat scroll 0px -43px ! important; }
/* ::::: http://www.jdd365.cn/styles/tch.css ::::: */

.fangjian { width: auto; float: left; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.fangjian .line { border-bottom: 1px dotted rgb(221, 221, 221); width: 100%; float: left; margin-top: 0px; font-family: "Microsoft YaHei"; font-size: 16px; padding-bottom: 5px; color: rgb(7, 136, 189); }
.fangjian ul li { width: 100%; float: left; margin-top: 10px; }
.fangjian ul li input { width: 180px; float: left; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(204, 204, 204); height: 24px; padding-left: 10px; font-size: 14px; line-height: 24px; }
.fangjian ul li label { float: left; width: 60px; text-align: right; line-height: 26px; color: rgb(51, 51, 51); font-size: 12px; }
.fangjian ul li input.butn { background: rgb(112, 178, 54) none repeat scroll 0% 0%; border: 0px none; border-radius: 0px; color: rgb(255, 255, 255); cursor: pointer; float: left; font-size: 22px; font-weight: bold; height: 28px; margin-left: 0px; padding: 0px 8px; width: 30px; }
.fangjian ul li select { width: 180px; float: left; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(204, 204, 204); height: 30px; padding-left: 5px; font-size: 14px; }
.fangjian ul li.roomlist { margin-left: 60px; display: inline; width: 500px; margin-top: 0px; }
