/* ::::: http://www.jdd365.cn/styles/main.css ::::: */

body { font-size: 12px; margin: 0px; padding: 0px; font-family: "Microsoft YaHei"; }
body, html { height: 100%; width: 100%; }
ul, li, p, span, h1, h2, h3, h4, dd, dl { margin: 0px; padding: 0px; }
li { list-style-type: none; }
a { color: rgb(51, 51, 51); text-decoration: none; }
img { border: medium none; }
a:hover { color: rgb(255, 153, 0); }
em, address { font-style: normal; }
.none { display: none; }
.clrfix::after { clear: both; content: "."; display: block; height: 0px; visibility: hidden; }
.fontYaHei { font-family: "Hiragino Sans GB","Microsoft YaHei",黑体,宋体,sans-serif; }
.clearfix::after { clear: both; content: " "; display: block; font-size: 0px; height: 0px; visibility: hidden; }
.head { width: 100%; height: 70px; background: rgb(7, 136, 190) url('/hotel/img/roomrack/main_bg.jpg') no-repeat scroll right top; float: left; }
.head .logo { background: transparent url('/hotel/img/roomrack/main_logo.jpg') no-repeat scroll center center; margin-left: 0px; width: 350px; height: 70px; float: left; }
.head .top_icon { margin-left: 400px; margin-right: 0px; }
.head .top_icon #mb_table {  }
.head .top_icon #mb_table li { width: 80px; float: left; height: 70px; background: transparent url('/hotel/img/roomrack/top_icon.png') repeat scroll 0% 0%; text-indent: -9999px; cursor: pointer; margin-right: 0px; position: relative; }
.head .top_icon #mb_table li:hover { background: transparent url('/hotel/img/roomrack/top_icon_hover.png') repeat scroll 0% 0%; }
.head .top_icon #mb_table li.select { background: transparent url('/hotel/img/roomrack/top_icon_select.png') repeat scroll 0% 0%; }
.head .top_icon #mb_table li.ftt { background-position: -36px 0px; }
.head .top_icon #mb_table li.zhk { background-position: -130px 0px; }
.head .top_icon #mb_table li.yud { background-position: -224px 0px; }
.head .top_icon #mb_table li.baob { background-position: -402px 0px; }
.head .top_icon #mb_table li.shezh { background-position: -492px 0px; }
.head .top_icon #mb_table li.fzhk { background-position: -594px 0px; }
.head .top_icon #mb_table li.vip { background-position: -706px 0px; }
.head .top_icon #mb_table li.duanxin { background-position: -800px 0px; }
.head .top_icon #mb_table li.kuceng { background-position: -895px 0px; }
.head .top_icon #mb_table li.wkt { background-position: -998px 0px; }
.head .top_icon #mb_table li.xieyi { background-position: -1116px 0px; }
.head .top_icon #mb_table li.wwz { background-position: -1412px 0px; }
.head .top_icon #mb_table li.znfx { background-position: -1510px 0px; }
.mb_div { position: relative; overflow: hidden; margin: 0px 40px; }
#mb_table { position: relative; width: 2000px; }
#btn_pre { float: left; }
#btn_next { float: right; }
.mb30 { margin: 20px 10px 0px; }
#scrollable { width: 100%; float: left; height: 36px; }
#scrollable div.items { overflow: hidden; margin-left: 20px; margin-right: 20px; position: relative; height: 36px; }
#scrollable a.prev { background: transparent url('/hotel/img/roomrack/menu_left.png') no-repeat scroll -5px center; display: block; width: 20px; height: 36px; float: left; cursor: pointer; border-right: 1px solid rgb(187, 187, 187); }
#scrollable a.next { background: transparent url('/hotel/img/roomrack/menu_right.png') no-repeat scroll -2px center; display: block; width: 20px; height: 36px; cursor: pointer; float: right; border-left: 1px solid rgb(187, 187, 187); }
#scrollable a.prev:hover { background-position: -37px center; }
#scrollable a.next:hover { background-position: -34px center; }
.menu { width: 100%; float: left; height: 36px; background: transparent url('/hotel/img/roomrack/menu_bg.jpg') repeat-x scroll left bottom; }
.menu ul li { float: left; width: 110px; background: transparent url('/hotel/img/roomrack/menu_line.jpg') no-repeat scroll right top; cursor: pointer; color: rgb(102, 102, 102); height: 36px; text-align: center; line-height: 36px; font-size: 14px; position: relative; padding-right: 10px; }
.menu ul li em { background: transparent url('/hotel/img/roomrack/menu_close.png') no-repeat scroll 0px 0px; width: 14px; height: 15px; display: block; position: absolute; right: 8px; top: 11px; }
.menu ul li.select { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-right: 1px solid rgb(187, 187, 187); color: rgb(7, 136, 189); border-top: 1px solid rgb(238, 161, 43); font-weight: bold; margin-top: 0px; border-bottom: 0px none; }
.menu ul li.select em { background-position: 0px -18px; }
.menu ul li span { display: block; height: 36px; width: 100px; text-align: center; }
.footer { width: 100%; background: rgb(51, 51, 51) none repeat scroll 0% 0%; height: 32px; line-height: 32px; color: rgb(255, 255, 255); position: absolute; bottom: 0px; left: 0px; min-width: 1200px; }
.footer .fl { float: left; margin-left: 1%; display: inline; position: relative; }
.footer .fl ul.first { float: left; }
.footer .fl ul.first li { float: left; margin-right: 30px; position: relative; }
.footer .fl ul.first li span { float: left; display: inline; }
.footer .fl ul.first li a { color: rgb(255, 255, 255); display: block; float: left; }
.footer .fl a { color: rgb(255, 255, 255); }
.footer .fl a:hover { color: rgb(255, 255, 0); }
.footer .fl ul.first li em { content: ""; border-width: 5px; border-style: solid; border-color: rgb(187, 187, 187) transparent transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; width: 0px; height: 0px; z-index: 100; float: left; margin: 15px 10px 0px 5px; }
.footer .fl ul.first li:hover em { border-bottom-color: rgb(187, 187, 187); border-top-color: transparent; margin: 9px 10px 0px 5px; }
.footer .fl ul.first a:hover, .footer .fl ul li:hover ul { visibility: visible; }
.footer .fl ul.second { display: none; position: absolute; left: 0px; bottom: 32px; background: rgb(102, 102, 102) none repeat scroll 0% 0%; padding: 8px 0px; color: rgb(255, 255, 255) ! important; }
.footer .fl ul.second li { clear: both; text-align: left; font-size: 12px; color: rgb(255, 255, 255) ! important; padding: 0px; margin: 0px 15px; }
.footer .fl ul.second li span { display: block; width: auto; padding: 0px; margin: 0px; color: rgb(255, 255, 255) ! important; line-height: 26px; }
.footer .fr { float: right; margin-right: 50px; display: inline; }
.footer .fr ul { width: auto; float: right; }
.footer .fr ul li { width: auto; float: left; position: relative; padding: 0px 5px; }
.footer .fr ul li a { color: rgb(255, 255, 255); display: block; float: left; position: relative; }
.footer .fr ul li a:hover, .footer .fr ul li:hover a { color: rgb(255, 255, 0); }
.footer .fr ul li span { color: rgb(221, 221, 221); display: block; float: left; }
.footer .fr ul li ul { visibility: hidden; position: absolute; left: -8px; bottom: 32px; background: rgb(102, 102, 102) none repeat scroll 0% 0%; padding: 5px 0px; color: rgb(255, 255, 255) ! important; }
.footer .fr ul li ul li { clear: both; text-align: left; font-size: 12px; color: rgb(255, 255, 255) ! important; padding: 0px; }
.footer .fr ul li ul li a { display: block; text-align: center; width: 70px; padding: 0px; margin: 0px; color: rgb(255, 255, 255) ! important; }
.footer .fr ul li ul li a:hover { border: 0px none; height: 32px; background: rgb(76, 76, 76) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.footer .fr ul a:hover, .footer .fr ul li:hover ul { visibility: visible; }
.footer .fr ul li em { content: ""; border-width: 5px; border-style: solid; border-color: rgb(187, 187, 187) transparent transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; width: 0px; height: 0px; z-index: 100; float: left; margin: 15px 0px 0px 5px; }
.footer .fr ul li:hover em { border-bottom-color: rgb(187, 187, 187); border-top-color: transparent; margin: 9px 0px 0px 5px; }
.novice { display: none; position: fixed; top: 0%; left: 0%; width: 100%; height: 100%; z-index: 1002; }
.novice .close { width: 100%; height: 3px; position: relative; }
.novice .close a { position: absolute; background: transparent url('/hotel/img/roomrack/close_001.png') no-repeat scroll 0% 0%; width: 80px; height: 27px; z-index: 9999; display: block; }
.novice .step_one .close a { right: 35px; top: 140px; }
.novice .step_two .close a { right: 0px; top: 84px; }
.novice .step_three .close a { right: 0px; top: 220px; }
.novice .step_four .close a { right: 50px; top: 26px; }
.novice .close a:hover { background: transparent url('/hotel/img/roomrack/close_1.png') no-repeat scroll 0% 0%; }
.novice .step_one .next_step { width: 110px; height: 65px; position: absolute; top: 265px; left: 120px; cursor: pointer; }
.novice .step_two .next_step { width: 110px; height: 65px; position: absolute; top: 230px; left: 230px; cursor: pointer; }
.novice .step_three .next_step { width: 110px; height: 65px; position: absolute; top: 400px; left: 410px; cursor: pointer; }
.novice .step_four .next_step { width: 110px; height: 65px; position: absolute; top: 156px; left: 130px; cursor: pointer; }
.step_one { background: transparent url('/hotel/img/roomrack/step_1.png') no-repeat scroll 100% 100%; width: 425px; height: 327px; position: absolute; left: 580px; top: 0px; }
.step_two { background: transparent url('/hotel/img/roomrack/step_2.png') no-repeat scroll 100% 100%; width: 458px; height: 292px; position: absolute; left: 1px; top: 143px; display: none; }
.step_three { background: transparent url('/hotel/img/roomrack/step_3.png') no-repeat scroll 100% 100%; width: 677px; height: 461px; position: absolute; left: 8px; top: 143px; display: none; }
.step_four { background: transparent url('/hotel/img/roomrack/step_4.png') no-repeat scroll 100% 100%; width: 420px; height: 267px; position: absolute; right: 4%; bottom: 0px; display: none; }
.message { position: fixed; right: 0px; bottom: 0px; width: 300px; height: 160px; }
.message .black_bg { background: rgb(0, 0, 0) none repeat scroll 0% 0%; width: 300px; height: 160px; position: absolute; right: 0px; bottom: 0px; z-index: 1; opacity: 0.8; }
.message .style { width: 280px; position: absolute; left: 10px; top: 10px; color: rgb(255, 255, 255); z-index: 2; height: 140px; overflow-y: scroll; overflow-x: hidden; }
.message .style ul { width: 100%; padding: 0px; }
.message .style ul li { width: 100%; float: left; line-height: 20px; padding: 5px 0px; border-bottom: 1px dotted rgb(102, 102, 102); }
.message .style ul li a { color: rgb(255, 255, 255); }
.message .close { width: 22px; height: 20px; position: absolute; top: 0px; left: -24px; }
.message .close a { opacity: 0.8; }
.message .close a:hover { opacity: 1; }
.message_img { position: fixed; right: 10px; bottom: 0px; width: 42px; height: 32px; text-align: center; }
.message_img a { opacity: 1; }
.message_img a:hover { opacity: 0.8; }
.message_img .number { position: absolute; top: -10px; right: 2px; background: rgb(255, 0, 0) none repeat scroll 0% 0%; border-radius: 50px; color: rgb(255, 255, 255); text-align: center; padding: 2px 7px; font-weight: bold; }
.main_left { width: 260px; height: auto; position: fixed; top: 34%; border: 1px solid rgb(204, 204, 204); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.main_02 { width: 230px; position: relative; padding: 8px 10px 7px 20px; }
.main_02 ul li { width: 100%; height: 22px; line-height: 22px; text-align: left; list-style-type: square; color: rgb(0, 139, 191); }
.main_02 ul li a { color: rgb(0, 139, 191); text-decoration: none; }
.main_02 ul li a:hover { text-decoration: underline; color: rgb(0, 139, 191); }
.bar { width: 25px; height: 105px; line-height: 15px; position: absolute; left: -25px; top: -1px; background: transparent url('/hotel/img/roomrack/mini_bg.png') no-repeat scroll -25px 0px; display: block; text-align: center; color: rgb(255, 255, 255); padding-top: 35px; }
.bar:hover { color: rgb(255, 255, 255); }
/* ::::: http://www.jdd365.cn/Styles/tch.css ::::: */

.black_overlay { display: none; position: absolute; top: 0%; left: 0%; width: 100%; height: 100%; background-color: rgb(0, 0, 0); z-index: 1001; opacity: 0.5; }
.white_content { display: none; position: absolute; top: 20%; left: 20%; padding: 20px; background-color: rgb(255, 255, 255); border: 5px solid rgba(0, 0, 0, 0.2); z-index: 1002; height: auto; max-width: 1000px; }
.white_content .close { width: 100%; height: 3px; position: relative; }
.white_content .close a { position: absolute; right: -35px; top: -37px; background: transparent url('/hotel/img/roomrack/tk_close.png') no-repeat scroll 0% 0%; width: 30px; height: 30px; z-index: 9999; }
.white_content .close a:hover { background-position: 0px -35px; }
.swing { animation: 10s ease-in-out 0s normal none infinite running swinging; transform-origin: 50% 0px 0px; }
.swing_div { position: fixed; top: 72px; right: 150px; }
.swing_a { position: absolute; top: 7px; left: 97px; display: block; width: 30px; height: 30px; }
