/* ::::: http://www.jdd365.cn/Styles/main.css ::::: */

body { font-size: 12px; margin: 0px; padding: 0px; font-family: "Microsoft YaHei"; }
body, html { height: 100%; width: 100%; }
ul, li, p, span, h1, h2, h3, h4, dd, dl { margin: 0px; padding: 0px; }
li { list-style-type: none; }
a { color: rgb(51, 51, 51); text-decoration: none; }
img { border: medium none; }
a:hover { color: rgb(255, 153, 0); }
input, button, select, textarea { color: rgb(51, 51, 51); outline: medium none; padding-left: 5px; }
input:hover, select:hover, textarea:hover, .input_keynote { border-color: rgb(102, 175, 233) ! important; outline: 0px none; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6); }
em, address { font-style: normal; }
.clrfix::after { clear: both; content: "."; display: block; height: 0px; visibility: hidden; }
.clearfix::after { clear: both; content: " "; display: block; font-size: 0px; height: 0px; visibility: hidden; }
.bus_add { font-size: 12px ! important; color: rgb(185, 115, 1) ! important; cursor: pointer; height: 30px ! important; line-height: 30px ! important; margin-right: 10px; font-weight: bold; background: transparent url('/hotel/img/roomrack/button.jpg') no-repeat scroll 0px -43px ! important; width: 82px ! important; text-align: center; border: 0px none ! important; padding: 0px ! important; }
.bus_add:hover { outline: 0px none; box-shadow: none; background: transparent url('/hotel/img/roomrack/button_hover.jpg') no-repeat scroll 0px -43px ! important; }
.bus_add:active { background: transparent url('/hotel/img/roomrack/button.jpg') no-repeat scroll 0px -43px ! important; }
.bus_search { font-size: 12px ! important; color: rgb(5, 109, 154) ! important; cursor: pointer; height: 30px ! important; line-height: 30px ! important; margin-left: 10px; font-weight: bold; background: transparent url('/hotel/img/roomrack/button.jpg') no-repeat scroll 0px 0px ! important; width: 82px ! important; text-align: center; border: 0px none ! important; padding: 0px ! important; }
.main { width: 100%; margin-left: 0px; display: inline; float: left; margin-bottom: 20px; }
table { width: 100%; border-top: 0px solid rgb(221, 221, 221); border-left: 1px solid rgb(221, 221, 221); float: left; }
table th { font-size: 14px; border-bottom: 1px solid rgb(7, 137, 190); border-right: 1px solid rgb(102, 213, 255); height: 32px; background: rgb(0, 173, 239) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
table tr { color: rgb(51, 51, 51); }
table tr:hover { background: rgb(208, 242, 255) none repeat scroll 0% 0%; }
table tr td { border-bottom: 1px solid rgb(221, 221, 221); border-right: 1px solid rgb(221, 221, 221); line-height: 28px; text-align: center; padding: 2px 5px; }
table tr .STYLE1 { padding: 0px 1px; }
table tr img { margin-left: 8px; }
table tr a { color: rgb(7, 136, 189); }
table tr a:hover { text-decoration: underline; color: rgb(7, 136, 189); }
.page { text-align: center; font-size: 12px; float: right; padding-top: 8px; }
.page span { border: 1px solid rgb(221, 221, 221); margin: 1px; color: rgb(3, 108, 180); text-decoration: none; font-size: 12px; padding: 4px; cursor: pointer; }
.page span.current { border: 1px solid rgb(0, 173, 239); padding: 4px 8px; color: rgb(255, 255, 255); background-color: rgb(0, 173, 239); }
.page span.disabled { border-right: 1px solid rgb(221, 221, 221); color: rgb(221, 221, 221); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.search_goods { float: right; }
.search_goods input { width: 210px; border: 1px solid rgb(204, 204, 204); height: 26px; padding-left: 10px; font-size: 12px; float: left; }
.search_goods input.bus_search { margin-top: 1px; }
.search_goods label { float: left; font-size: 12px; font-weight: lighter; line-height: 30px; }
.search_goods select { float: left; border: 1px solid rgb(204, 204, 204); height: 30px; margin-right: 10px; }
.goods_db { width: 88%; float: left; margin-top: 10px; margin-left: 10%; }
.goods_db .fl { float: left; }
.goods_db .fr { float: right; }
h1.itset { width: 100%; float: left; border-bottom: 0px solid rgb(7, 136, 189); font-size: 20px; padding: 10px 0px 0px; line-height: 40px; }
ul.staff { float: left; width: 150px; margin-top: 0px; border-bottom: 1px solid rgb(170, 232, 255); border-left: 1px solid rgb(170, 232, 255); background: rgb(208, 242, 255) none repeat scroll 0% 0%; }
ul.staff li { float: left; width: 90%; text-align: left; line-height: 31px; color: rgb(51, 51, 51); border-top: 1px solid rgb(170, 232, 255); border-bottom: 1px solid rgb(255, 255, 255); cursor: pointer; position: relative; padding-left: 10%; }
ul.staff li.end { border-top: 1px solid rgb(170, 232, 255); border-bottom: 0px none; height: 2px; }
ul.staff li.add { border: 0px none; width: 80% ! important; }
ul.staff li.add input { border-width: 1px 0px 1px 1px; border-style: solid none solid solid; border-color: rgb(221, 221, 221) -moz-use-text-color rgb(221, 221, 221) rgb(221, 221, 221); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; width: 80px; height: 24px; margin: 5px 0px; float: left; }
ul.staff li.add .bus_add_add { background: rgb(112, 178, 54) none repeat scroll 0% 0%; border: 0px none; border-radius: 1px; color: rgb(255, 255, 255); cursor: pointer; float: left; line-height: 18px; padding: 0px 8px; width: 30px; height: 28px; margin-left: 0px; display: inline; font-size: 22px; font-family: "Hiragino Sans GB","Microsoft YaHei",黑体,宋体,sans-serif; }
ul.staff li:hover, ul.staff li.select { background: rgb(229, 255, 210) none repeat scroll 0% 0%; }
ul.staff li.add:hover { background: transparent none repeat scroll 0% 0%; }
ul.staff li em { background: transparent url('/hotel/img/roomrack/edit_1.png') no-repeat scroll 0% 0%; width: 11px; height: 11px; float: left; margin-left: 10px; margin-top: 8px; position: absolute; }
ul.staff li em:hover {  }
ul.staff li em.dell { background-position: 0px -16px; right: 5px; top: 2px; }
ul.staff li em.edit { background-position: 0px 0px; top: 3px; right: 25px; }
.staff_table { margin-top: 0px; margin-left: 151px; width: auto; float: none; }
/* ::::: http://www.jdd365.cn/Styles/tch.css ::::: */

