/* ::::: http://www.jdd365.cn/styles/main.css ::::: */

body { font-size: 12px; margin: 0px; padding: 0px; font-family: "Microsoft YaHei"; }
body, html { height: 100%; width: 100%; }
ul, li, p, span, h1, h2, h3, h4, dd, dl { margin: 0px; padding: 0px; }
li { list-style-type: none; }
a { color: rgb(51, 51, 51); text-decoration: none; }
a:hover { color: rgb(255, 153, 0); }
input, button, select, textarea { color: rgb(51, 51, 51); outline: medium none; padding-left: 5px; }
input:hover, select:hover, textarea:hover, .input_keynote { border-color: rgb(102, 175, 233) ! important; outline: 0px none; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6); }
.none { display: none; }
.clrfix::after { clear: both; content: "."; display: block; height: 0px; visibility: hidden; }
.clearfix::after { clear: both; content: " "; display: block; font-size: 0px; height: 0px; visibility: hidden; }
.bus_dell { font-size: 12px ! important; color: rgb(102, 102, 102) ! important; cursor: pointer; height: 30px ! important; line-height: 30px ! important; margin-right: 10px; font-weight: bold; background: transparent url('/hotel/img/roomrack/button.jpg') no-repeat scroll 0px -84px ! important; width: 82px ! important; text-align: center; border: 0px none ! important; padding: 0px ! important; }
.bus_dell:hover { outline: 0px none; box-shadow: none; background: transparent url('/hotel/img/roomrack/button_hover.jpg') no-repeat scroll 0px -84px ! important; }
.bus_dell:active { background: transparent url('/hotel/img/roomrack/button.jpg') no-repeat scroll 0px -84px ! important; }
table { width: 100%; border-top: 0px solid rgb(221, 221, 221); border-left: 1px solid rgb(221, 221, 221); float: left; }
table th { font-size: 14px; border-bottom: 1px solid rgb(7, 137, 190); border-right: 1px solid rgb(102, 213, 255); height: 32px; background: rgb(0, 173, 239) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
table tr { color: rgb(51, 51, 51); }
table tr:hover { background: rgb(208, 242, 255) none repeat scroll 0% 0%; }
table tr td { border-bottom: 1px solid rgb(221, 221, 221); border-right: 1px solid rgb(221, 221, 221); line-height: 28px; text-align: center; padding: 2px 5px; }
.system_set_add .lis .support .interface p i::after { content: ""; display: block; width: 100%; height: 100%; border-left: 2px solid transparent; border-right: 2px solid transparent; border-top: 2px solid rgb(93, 183, 26); position: absolute; right: -3px; top: -5px; transform: rotate(90deg); transform-origin: center bottom 0px; }
.system_set_add .lis .support .interface p i::before { content: ""; display: block; width: 100%; height: 100%; border-left: 2px solid transparent; border-right: 2px solid transparent; border-top: 2px solid rgb(255, 255, 255); position: absolute; right: 0px; top: -8px; transform: rotate(135deg); transform-origin: center bottom 0px; }
/* ::::: http://www.jdd365.cn/styles/tch.css ::::: */

.ruzhu_infor { width: auto; float: left; overflow-x: hidden; }
.ruzhu_infor ul { width: 100%; float: left; }
.ruzhu_infor ul li { width: auto; float: left; margin-top: 10px; margin-right: 10px; }
.ruzhu_infor ul li input { width: 120px; float: left; border: 1px solid rgb(204, 204, 204); height: 20px; padding-left: 5px; font-size: 12px; line-height: 20px; }
.ruzhu_infor ul li label { float: left; width: 70px; text-align: right; line-height: 22px; color: rgb(51, 51, 51); font-size: 12px; }
.ruzhu_infor .types { width: 100%; float: left; margin-top: 10px; padding-bottom: 5px; }
.ruzhu_infor .types p { width: 110px; line-height: 26px; color: rgb(51, 51, 51); font-size: 12px; padding-left: 5px; display: block; border-bottom: 1px solid rgb(221, 221, 221); float: left; margin-top: -5px; }
.ruzhu_infor .line { border-bottom: 1px dotted rgb(221, 221, 221); width: 100%; float: left; margin-top: 0px; padding-bottom: 0px; }
.ruzhu_infor .line .fl { float: left; font-size: 16px; color: rgb(7, 136, 189); padding-bottom: 2px; font-weight: lighter; font-family: "Microsoft YaHei"; }
.ruzhu_infor .line .fr { float: right; font-size: 12px; color: rgb(102, 102, 102); padding-top: 3px; padding-bottom: 3px; }
.ruzhu_infor .line .fr span { color: rgb(7, 136, 189); font-size: 14px; font-weight: bold; }
.ruzhu_infor ul li label { font-size: 12px; color: rgb(51, 51, 51); }
.gundong { height: 200px; overflow-y: scroll; position: relative; width: 100%; }
.gundong tr td { height: 20px; line-height: 20px; }
